﻿@model IEnumerable<MVCBase.CuentasCorrientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Cuenta Catastral
        </th>
        <th>
            Tipo Cuenta
        </th>
        <th>
            Monto Adeudado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.catCca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCuenta1.descripcionCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoAdeudado)
        </td>
        <td>
            @Html.ActionLink(linkText:"Resumen", actionName: "ProjectSummary", routeValues: new { id=item.idCuenta }, htmlAttributes:new {@class="btn btn-primary btn-lg"})          
        </td>
    </tr>
}

</table>
