﻿@model MVCBase.cxmInmueblesPorProyecto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>cxmInmueblesPorProyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.catCca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catCca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.factorArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.factorArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.socioEconomico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.socioEconomico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accesoAjuste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accesoAjuste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cxmFranja.idFranja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cxmFranja.idFranja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactorUso.factorUso1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactorUso.factorUso1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idInmueblePorProyecto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
