﻿@model MVCBase.cxmInmueblesPorProyecto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edición de Factores</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Inmuebles por Franja de Proyectos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idInmueblePorProyecto)

        <div class="form-group">
            @Html.LabelFor(model => model.catCca, "Cuenta Catastral", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.catCca, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.catCca, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.factorArea, "Factor Área", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("factorArea", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.factorArea, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.socioEconomico, "Socioeconómico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("socioEconomico", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.socioEconomico, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.accesoAjuste, "Acceso Ajuste", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("accesoAjuste", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.accesoAjuste, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.idFactorUso, "Factor Uso", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idFactorUso", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idFactorUso, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>

}     

<div>
    @Html.ActionLink("Regresar a la Factorización", "Preview", "Proyectos", routeValues: new { id = Model.cxmFranja.idProyecto }, htmlAttributes: new { @class = "btn btn-primary" })
</div>   