﻿@model IEnumerable<MVCBase.Expedientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Expedientes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{

}
<br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descripcionExpediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado.nombreEmpleado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcionExpediente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado.nombreEmpleado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idExpediente }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idExpediente }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idExpediente })
                </td>
            </tr>
        }

    </table>