﻿@model MVCBase.Pagos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pagos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPrima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPrima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentasCorrientes.catCca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentasCorrientes.catCca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPago }) |
    @Html.ActionLink("Back to List", "Index")
</p>
