﻿@model IEnumerable<MVCBase.InteresesPorMes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tasa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idInteres }) |
            @Html.ActionLink("Details", "Details", new { id=item.idInteres }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idInteres })
        </td>
    </tr>
}

</table>
