﻿@model MVCBase.Empleado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamentos.nombreDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamentos.nombreDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEmpleado.nombreTipoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEmpleado.nombreTipoEmpleado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEmpleado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
