﻿@model IEnumerable<MVCBase.Empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamentos.nombreDepartamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orden.descripcionOrden)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamentos.nombreDepartamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orden.descripcionOrden)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEmpleado }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEmpleado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEmpleado })
        </td>
    </tr>
}

</table>
