﻿@model IEnumerable<MVCBase.cxmProyectos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Proyectos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Contratista
        </th>
        <th>
            Valor del Proyecto
        </th>
        <th>
            Monto Ejecutado
        </th>
        <th>
            Área Ejecutada
        </th>
        <th>
            Fecha de Inicio
        </th>
        <th>
            Fecha de Finalización
        </th>
        <th>
            Cantidad de Franjas
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contratista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoEjecutado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.areaEjecutada)
        </td>
        <td>
            @item.fechaInicio.Value.ToString("dd/MM/yyyy")
        </td>
        <td>
            @item.fechaFinalizacion.Value.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadFranjas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProyecto }) |
            @Html.ActionLink("Details", "Details", new {id = item.idProyecto}) |
            @Html.ActionLink("Factorización", "Preview", new { id = item.idProyecto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProyecto })
        </td>
    </tr>
}

</table>
