﻿@using MVCBase.Models
@model MVCBase.cxmProyectos

@{
    ViewBag.Title = "Factorizacion de Inmuebles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contribución por mejoras</h2>

<div>
<h4>Factorización de Inmuebles</h4>
<hr/>

<div class="col-md-12">
    <div class="panel panel-inverse" id="wid-id-info">
        <ul class="panel-options">
            <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
        </ul>
        <div class="panel-heading">
            <h3 class="panel-title">Datos del Proyecto</h3>
        </div>
        <div class="panel-body">
            <div class="form-group" style="margin-top: 20px">
                <div class="col-md-6" id="info">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Nombre del Proyecto")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nombreProyecto)
                        </dd>
                        <dt>
                            @Html.DisplayName("Ubicación")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ubicacion)
                        </dd>

                        <dt>
                            @Html.DisplayName("Descripción")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayName("Contratista;")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.contratista)
                        </dd>

                        <dt>
                            @Html.DisplayName("Valor Proyecto")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.valorProyecto)
                        </dd>

                        <dt>
                            @Html.DisplayName("Monto Contratado")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.montoContratado)
                        </dd>

                        <dt>
                            @Html.DisplayName("Monto Ejecutado")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.montoEjecutado)
                        </dd>

                        <dt>
                            @Html.DisplayName("Area Contratada")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.areaContratada)
                        </dd>

                        <dt>
                            @Html.DisplayName("Area Ejecutada")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.areaEjecutada)
                        </dd>

                        <dt>
                            @Html.DisplayName("Medida Area")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.medidaArea)
                        </dd>

                        <dt>
                            @Html.DisplayName("Fecha Inicio")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fechaInicio)
                        </dd>

                        <dt>
                            @Html.DisplayName("Fecha Finalizacion")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fechaFinalizacion)
                        </dd>

                        <dt>
                            @Html.DisplayName("Cantidad Franjas")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cantidadFranjas)
                        </dd>
                    </dl>

                </div>
                <div class="col-md-6" id="infoRight" style="border: 1px; border-color: black; border-style:solid">
                    <div id="p">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-md-12">
    <div class="panel panel-inverse" id="wid-id-factorizacion">
        <ul class="panel-options">
            <li><a class="panel-minimize"><i class="fa fa-chevron-down"></i></a></li>
        </ul>
        <div class="panel-heading">
            <h3 class="panel-title">Datos del Proyecto</h3>
        </div>
        <div class="panel-body">

            <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">

                <thead>
                <tr>
                    <th class="hasinput" style="width: auto">
                        <input class="form-control" placeholder="Franja" type="text">
                    </th>
                    <th class="hasinput icon-addon" style="width: 100%">
                        <input class="form-control" placeholder="Cuenta Catastral" type="text">
                    </th>
                    <th class="hasinput icon-addon" style="width: 100%">
                        <input class="form-control" placeholder="Factor Individual" type="text">
                    </th>
                    <th class="hasinput" style="width: 16%">
                        <input class="form-control" placeholder="Área Gravable" type="text">
                    </th>
                    <th class="hasinput" style="width: auto">
                        <input class="form-control" placeholder="Factor de Conversión" type="text">
                    </th>
                    <th class="hasinput" style="width: 16%">
                        <input class="form-control" placeholder="Gravamen" type="text">
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th data-class="phone">Num. Franja</th>
                    <th data-hide="expand">Cuenta Catastral</th>
                    <th data-hide="phone,tablet">Factor Individual</th>
                    <th data-hide="phone,tablet">Área Gravable</th>
                    <th data-hide="phone,tablet">Factor Conversión</th>
                    <th data-hide="phone,tablet">Gravamen</th>
                    <th data-hide="phone,tablet"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var inmueble in (ViewBag.cuentas as List<CuentasPorFranjaViewModel>))
                {                    
                    <tr>
                        <td>
                             @inmueble.NumFranja
                        </td>
                        <td>
                            @inmueble.CatCca
                        </td>
                        <td>
                            @inmueble.FactorIndividualStr
                        </td>
                        <td>
                            @inmueble.AreaGravableStr
                        </td>
                        <td>
                            @inmueble.FactorConversionStr
                        </td>
                        <td>
                            @inmueble.GravamenStr
                        </td>
                        <td>
                            @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "cxmInmueblesPorProyectoes", routeValues: new {id = inmueble.IdInmueblePorProyecto}, htmlAttributes: new {@class = "btn btn-primary btn-lg"})
                        </td>
                    </tr>                    
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

    @using (Html.BeginForm(new { @action = "/PerformSubmit" }))
    {
        <div class="col-md-12">
            <div class="col-md-3">
                <input type="submit" name="addCca" value="Agregar clave catastral" class="btn btn-primary btn-lg">
            </div>
            <div class="col-md-3">
                <input type="submit" name="closeCarga" value="Cerrar carga" class="btn btn-primary btn-lg">
            </div>
            <div class="col-md-3">
                <input type="submit" name="printDocs" value="Imprimir gravámenes" class="btn btn-primary btn-lg">
            </div>
            <div class="col-md-3">
                <input type="submit" name="addCca" value="Crear cuentas corrientes" class="btn btn-primary btn-lg">
            </div>
        </div>
    }
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('#infoRight').height($('#info').height());
        $('#p').css('text-align', 'center');
        $('#p').css('vertical-align', 'middle');
    });
</script>